html, body {
	height: 93%;
}

body {
	font: 20px/1.5 Arial, sans-serif;
	background: #dddddd;
}

body, h1, h3, p {
	padding: 0;
	margin: 0;
}

#main {
	width: 875px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%; /*stoopid ie*/
}

#heading {
	height: 340px; 
	width: 100%;
	margin-bottom: 0 !important;
	background: url(/static/images/fragfest/photogame-title.png) top center no-repeat !important;
/*	background: url(/static/images/fragfest/photogame-title.gif) top center no-repeat !important; */
}

#heading h1 span,
#menu span {
	display: none;
}

#content fieldset {
	border: thin solid #000;
	width: 400px;
	margin: 0 auto 50px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#content .error {
	border: thin solid #f00;
	margin-bottom: 10px;
	padding-top: 10px;
}

#content .error_message {
	font: 16px Arial, sans-serif;
	display: block;
	font-style: italic;
}

#content .label,
#content .submit {
	padding: 0 0 10px 10px;
}

#content label {
	float: left;
	text-align: right;
	width: 100px;
	margin-right: 10px;
}

#content input[type="text"],
#content input[type="password"] {
	width: 250px;
	height: 28px;
	padding: 0;
	border: thin solid #000;
	text-indent: 5px;
	background: #eee;
}

#content input[type="submit"] {
	width: 80%;
	margin: 0 0 0 30px;
	height: 28px;
	padding: 0;
	border: thin solid #000;
	text-indent: 5px;
	background: #eee;
}

#content input:hover {
	background: #fff;
}

#specimena {
	height: 400px;
	float: left;
}

#vs {
	display: block;
	float: left;
	width: 75px;
	height: 300px;
	background: url(/static/images/fragfest/photogame-vs.png) center center no-repeat !important;
/*	background: url(/static/images/fragfest/photogame-title.gif) center center no-repeat !important; */
}

#specimenb {
	float: left;
	height: 400px;
}

.myspecimen {
	border: thin solid #000;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px auto;
	width: 500px;
}

.myspecimen img {
	display: block;
	margin: 0 auto;
}

#gallery {
	border: thin solid #000;
	display: block;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

#gallery .photographer {
	display: block;
	float: left;
	height: 100px;
	padding: 10px;
}

#gallery .gravatar {
	display: block;
	margin: 0 auto;
}

#gallery .photo {
	display: inline;
	padding: 10px;
}

.form_error {
	width: 400px;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: #f00;
	border: thin solid #f00;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.form_message {
	clear: left;
	width: 400px;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: thin solid #000;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#results img {
	display: block;
	margin: 0 auto 10px auto;
}

#menu ul {
	width: 90%;
	list-style-type: none;
}

#menu li {
    float: left;
}

#menu a {
	width: 250px;
	height: 80px;
	display: block;
}

#menu li.results {
	background: url(/static/images/fragfest/photogame-menu-results.png) top center no-repeat;
}

#menu li.results:hover {
	background: url(/static/images/fragfest/photogame-menu-results-rollover.png) top center no-repeat;
}

#menu li.gallery {
	background: url(/static/images/fragfest/photogame-menu-gallery.png) top center no-repeat;
}

#menu li.gallery:hover {
	background: url(/static/images/fragfest/photogame-menu-gallery-rollover.png) top center no-repeat;
}

#menu li.vote {
	background: url(/static/images/fragfest/photogame-menu-vote.png) top center no-repeat;
}

#menu li.vote:hover {
	background: url(/static/images/fragfest/photogame-menu-vote-rollover.png) top center no-repeat;
}

#menu li.login {
	background: url(/static/images/fragfest/photogame-menu-login.png) top center no-repeat;
}

#menu li.login:hover {
	background: url(/static/images/fragfest/photogame-menu-login-rollover.png) top center no-repeat;
}

#menu li.upload {
	background: url(/static/images/fragfest/photogame-menu-upload.png) top center no-repeat;
}

#menu li.upload:hover {
	background: url(/static/images/fragfest/photogame-menu-upload-rollover.png) top center no-repeat;
}

#menu li.logout {
	background: url(/static/images/fragfest/photogame-menu-logout.png) top center no-repeat;
}

#menu li.logout:hover {
	background: url(/static/images/fragfest/photogame-menu-logout-rollover.png) top center no-repeat;
}

#menu li.register {
	background: url(/static/images/fragfest/photogame-menu-register.png) top center no-repeat;
}

#menu li.register:hover {
	background: url(/static/images/fragfest/photogame-menu-register-rollover.png) top center no-repeat;
}

#footer {
	background: #ffffff url(/static/images/fragfest/photogame-footer.png) top center repeat-x !important;
/*	background: url(/static/images/fragfest/photogame-footer.gif) top center repeat-x; /*stoopid ie*/ 
	clear: left;
	height: 90px;
	text-align:center;
}

#footer img {
	vertical-align: middle;
	margin: 20px 0 20px 20px;
}

#footer .votes {
	font-style: italic;
}
