<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PhotoGame by FragFest</title>
  </head>
  <body>
    <div id="main">
      <div id="heading"><h1><span>PhotoGame by FragFest</span></h1>
      </div>
      <div id="content">
        [% content %]
        <p class="debug">[% debug %]</p>
      </div>
      <div id="menu">
        <ul id="menu">
          <li><span><a href="/results">Results</a></span></li>
          <li><span><a href="/gallery">Gallery</a></span></li>
          <li><span><a href="/vote">Vote</a></span></li>
        [%- IF me -%]
          <li><span><a href="/upload">Submit Photos</a></span></li>
          <li><span><a href="/logout">Log Out</a></span></li>
        [%- ELSE -%]
          <li><span><a href="/login">Log in</a></span></li>
          <li><span><a href="/register">Register</a></span></li>
        [%- END -%]
        </ul>
      <div id="footer">
        <span>Join us at <a href="http://fragfest.com.au">FragFest</a></span>
        <img src="/static/images/btn_120x50_powered_shadow.png" alt="Powered by Catalyst" />
      </div>
    </div>
  </body>
</html>
