<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
  version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">

<head>

  <title>PhotoGame by FragFest</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="icon" type="image/png"
    href="/static/images/fragfest/photogame-favicon.png" />
  
  <meta name="description" type="image/png"
    content="PhotoGame, a LANparty photo taking game" />

  <style type="text/css" media="screen">
    @import '/static/css/fragfest.css';
  </style>

</head>
<body>
  <div id="main">
    <div id="heading"><h1><span>PhotoGame by FragFest</span></h1>
    </div>
    <div id="content">
      [% IF error %]<span class="form_error">[% error %]</span>[% END %]
      [% IF message %]<span class="form_message">[% message %]</span>[% END %]
      [% content %]
      <p class="debug">[% debug %]</p>
    </div>
    <div id="menu">
      <ul id="menu">
        <li class="menu results"><a href="/results"><span>Results</span></a></li>
        <li class="menu gallery"><a href="/gallery"><span>Gallery</span></a></li>
        <li class="menu vote"><a href="/vote"><span>Vote</span></a></li>
      [%- IF me %]
        <li class="menu upload"><a href="/upload"><span>Upload</span></a></li>
        <li class="menu logout"><a href="/logout"><span>Log Out</span></a></li>
      [%- ELSE %]
        <li class="menu login"><a href="/login"><span>Log in</span></a></li>
        <li class="menu register"><a href="/register"><span>Register</span></a></li>
      [%- END %]
      </ul>
    </div>
  </div>
  <div id="footer">
      <span class="joinus">Join us at <a href="http://fragfest.com.au">FragFest</a></span> -
      <span class="votes">[% total_votes %] Votes so far</span>
      <img src="/static/images/btn_120x50_powered_shadow.png" alt="Powered by Catalyst" />
  </div>
</body>

</html>
