<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
  version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">

<head>

  <title>PhotoGame by FragFest</title>

  <link rel="shortcut icon" href="/static/images/fragfest/favicon.gif" />
  <meta name="description" content="PhotoGame, a LANparty photo taking game" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <style type="text/css" media="screen">
    @import '/static/css/fragfest.css';
  </style>

</head>
<body>
  <div id="main">
    <div id="heading"><h1><span>PhotoGame by FragFest</span></h1>
    </div>
    <div id="content">
      [% content %]
      <p class="debug">[% debug %]</p>
    </div>
    <div id="menu">
        <a href="/results" class="menu results">Results</a>
        <a href="/gallery" class="menu gallery">Gallery</a>
        <a href="/vote" class="menu vote">Vote</a>
      [%- IF me -%]
        <a href="/upload" class="menu upload">Submit Photos</a>
        <a href="/logout" class="menu logout">Log Out</a>
      [%- ELSE %]
        <a href="/login" class="menu login">Log in</a>
      [%- END %]

    </div>
    <div id="footer"><span>Join us at <a href="http://fragfest.com.au">FragFest</a></span>
    </div>
  </div>
</body>

</html>
